{%- comment %}
  Cart Item Price
  ------------------------------------------------------------------------------

  Usage:

  {% render 'cart-item-price',
             item: { cart.items[] } - required
  %}
{%- endcomment %}

{% if item != empty %}
  <div class="ajax-cart__item-price" data-price>
    {% if item.variant.compare_at_price and item.variant.compare_at_price > item.final_price %}
      <span>
        <span class="sr-only">
          {{ 'products.product.price.regular_price' | t }}
        </span>
        <s class="opacity-50" data-price-compare>{{ item.variant.compare_at_price | money }}</s>
      </span>
    {% elsif item.original_price != item.final_price %}
      <span>
        <span class="sr-only">
          {{ 'products.product.price.regular_price' | t }}
        </span>
        <s data-price-original>{{ item.original_price | money }}</s>
      </span>
    {% endif %}

    <span>
      <span class="sr-only">
        {{ 'products.product.price.price' | t }}
      </span>
      <span data-price-final>{{ item.final_price | money }}</span>
    </span>
  </div>
{% endif %}
