{% doc %}
  
  Cart Item
  ------------------------------------------------------------------------------

  @param {object} item - The cart item to display

  @example
    {% render 'cart-item', item: item %}
{% enddoc %}

{% if item != blank %}
  <div
    class="ajax-cart__item"
    data-component="cart-item"
    data-id="{{ item.id }}"
  >
    <div class="ajax-cart__item-inner">
      <div class="ajax-cart__item-image">
        <div class="ajax-cart__item-image">
          {%- if item.image -%}
            <img
              src="{{ item.image | image_url: width: 150 }}"
              alt="{{ item.image.alt | escape }}"
              loading="lazy"
              width="150"
              height="{{ 150 | divided_by: item.image.aspect_ratio | ceil }}"
              class="lazy-image"
            >
          {% endif %}
        </div>
      </div>

      <div class="ajax-cart__item-info">
        <div>
          <div class="ajax-cart__item-header">
            <div class="ajax-cart__item-title">
              <a href="{{ item.product.url }}">{{- item.product.title | escape -}}</a>
            </div>
            <button class="ajax-cart__item-remove" data-remove>Remove</button>
          </div>

          {% capture item_details %}
            {% for option in item.options_with_values -%}
              <div class="ajax-cart__item-detail">{{ option.name }}: {{ option.value }}</div>
            {%- endfor %}
            
            {% for property in item.properties %}
              {% comment %} https://shopify.dev/docs/api/ajax/reference/cart#private-properties-and-attributes {% endcomment %}
              {% assign first_characater = property.first | slice: 0 %}
              {% unless first_characater == '_' %}
                <div class="ajax-cart__item-detail">{{ property.first }}: {{ property.last }}</div>
              {% endunless %}
            {% endfor %}
          {% endcapture %}

          {%- if item_details != blank %}
            <div>{{ item_details }}</div>
          {% endif %}          
        </div>

        <div class="flex justify-between">
          <div>
            {%- liquid
              assign max = item.variant.quantity_rule.max
  
              if max == blank and item.variant.inventory_management != nil and item.variant.inventory_policy == 'deny'
                assign max = item.variant.inventory_quantity
              endif
            -%}

            {%- render 'quantity-adjuster',
                        value: item.quantity,
                        min: 0,
                        max: max,
                        step: item.variant.quantity_rule.increment,
                        input_name: 'updates[]',
                        product_title: item.product.title
            -%}
          </div>
          <div>{% render 'cart-item-price', item: item %}</div>
        </div>
      </div>
    </div>       
  </div>
{% endif %}