{% # theme-check-disable RemoteAsset %}
{% # theme-check-disable UnusedAssign %}

{%- comment %}

  Product Detail Form Snippet
  ------------------------------------------------------------------------------

  Usage:

  {% include 'product-detail-form',
              product: { product } - required
              current_variant: { variant } - optional,
  %}

{% endcomment -%}

{% unless product == empty %}

  {% comment %} Assign Defaults {% endcomment %} 
  {%- liquid
    if current_variant == blank
      assign current_variant = product.selected_or_first_available_variant
    endif
  %}
  {% comment %} End Assign Defaults {% endcomment %}

  <div
    style="height: 100%"
    data-component="product-detail-form"
  >
    {% form 'product', product, style: 'height: 100%' %} 
      <div class="product-detail-form">
        <div class="product-detail-form__inner">
          <h1 class="pdf-title">{{ product.title }}</h1>

          <div class="pdf-price">
            {% render 'product-detail-price',
                      product: product,
                      current_variant: current_variant
            %}
          </div>

          <div itemprop="offers" itemscope itemtype="http://schema.org/Offer">
            <meta itemprop="priceCurrency" content="{{ shop.currency }}">
            <meta itemprop="price" content="{{ current_variant.price | divided_by: 100.00 }}">
            <link itemprop="availability" href="http://schema.org/{% if current_variant.available %}InStock{% else %}OutOfStock{% endif %}">

            <div
              data-component="variant-picker"
              {% if product.has_only_default_variant %}
                style="display: none;"
                aria-hidden="true"
              {% endif %}
            >
              {% for option in product.options_with_values %}
                {%- liquid
                  assign option_name_handle = option.name | handle
                  assign hide_option = false
                  assign selection_type = 'select'

                  if option_name_handle == 'color'
                    assign selection_type = 'radio'
                  endif

                  comment
                    Add any logic needed to hide specific options
                  endcomment
                -%}
                
                <div
                  {% if hide_option %}
                    style="display: none;"
                    aria-hidden="true"
                  {% endif %}
                >

                  {% render 'variant-picker-option',
                            option: option,
                            selection_type: selection_type
                  %}                
                </div>
              {% endfor %}
            </div>

              <label class="visually-hidden" for="no-js-variant-select">Select Variant</label>
              <select name="id" class="no-js" id="no-js-variant-select">
                {% for variant in product.variants %}
                  <option
                    {% if variant == current_variant %}selected="selected"{% endif %}
                    {% unless variant.available %}disabled="disabled"{% endunless %}
                    value="{{ variant.id }}"
                  >
                      {{ variant.title }}
                  </option>
                {% endfor %}
              </select>

              <input type="hidden" value="1" name="quantity" />

              <button
                type="submit"
                name="add"
                class="btn btn--primary"
                {% if current_variant.available == false %}
                  disabled="disabled"
                {% endif %}
                data-component="atc-button"
              >
                <span data-label>
                  {% if current_variant.available %}
                    Add To Cart
                  {% else %}
                    Sold Out
                  {% endif %}
                </span>
              </button>  

              <div>
                <div class="pdf-content">
                  {{ form | payment_terms }}
                </div>
              </div>

            {% if product.description != blank %}
              <div class="pdf-detail-group">
                <div class="label">Description</div>

                <div class="pdf-content">
                  {{ product.description }}
                </div>
              </div>
            {% endif %}
          </div>
        </div>

        <script type="application/json" data-product-json>
          {% render 'product-json-lite', product: product %}
        </script>
      </div>
    {% endform %}
  </div>

{% endunless %}
