{%- comment %}

  Product Detail Gallery Item
  ------------------------------------------------------------------------------

  Usage:

  {% render 'product-detail-gallery-item',
             image: { image } - required
  %}

{% endcomment -%}

{% if image != blank %}
  {%- liquid
    assign srcset = ''
    assign widths = '720, 930, 1080, 1200, 1400, 1600, 1800' | split: ', '  
  -%}
  
  {% for width in widths %}
    {% assign image_size = width | append: 'x' %}
    {% capture srcset_size %}{{ image.src | image_url: width: image_size }} {{ width | append: 'w' }}{% unless forloop.last %},{% endunless %}{% endcapture %}
    {% assign srcset = srcset | append: srcset_size %}
  {% endfor %}


  <div class="product-detail-gallery__item">
    <img
      data-src="{{ image | image_url: width: 1600 }}"
      data-srcset="{{ srcset }}"
      alt="{{ image.alt | escape }}"
      class="lazyload lazy-image"
      height="{{ image.height }}"
      width="{{ image.width }}"
      data-image-id="{{ image.id }}"
    >
  </div>     
{% endif %}
