{% # theme-check-disable DeprecateLazysizes %}

{%- comment %}

  Product Card
  ------------------------------------------------------------------------------

  Usage:

  {% render 'product-card',
             product: { product } - required
             loading: { string } - optional - defaults to "lazy"
             sizes: { string } - optional - defaults to sizes for results grid
             image_min_width: { number } - optional - defaults to 500
             image_max_width: { number } - optional - defaults to 900             
  %}

{% endcomment -%}

{% if product %}
  {%- liquid
    if image_min_width == blank
      assign image_min_width = 500
    endif

    if image_max_width == blank
      assign image_max_width = 900
    endif

    capture image_widths
      render 'image-widths', min_width: image_min_width, max_width: image_max_width
    endcapture

    if loading == blank
      assign loading = 'lazy'
    endif

    if sizes == blank
      assign sizes = '(max-width: 600px) 50vw, (max-width: 1200px) 33vw, 420px'
    endif
  -%}

  {%- capture alt_text %}
    {% if product.featured_image.alt %}
      {{ product.featured_image.alt }}
    {% else %}
      "{{ product.title }}" Featured Image
    {% endif %}
  {%- endcapture %}
  {% assign alt_text = alt_text | strip_newlines | strip %}


  <div
    class="product-card{% if product.available == false %} product-card--sold-out{% endif %}"
    data-component="product-card"
  >
    <div class="product-card__contents">
      <div class="product-card__gallery">
        <a href="{{ product.url }}" title="{{ product.title }}">
          <div class="product-card__gallery-item">

            {{ product.featured_image
              | image_url: width: image_max_width
              | image_tag:
                loading: loading,
                widths: image_widths,
                alt: alt_text,
                class: 'lazy-image',
                sizes: sizes
            }}             
          </div>
        </a>
      </div> 

      <a href="{{ product.url }}" title="{{ product.title }}">
        <div class="product-card__info">
          <div class="product-card__info-title">{{ product.title }}</div>
          <div class="product-card__info-price">
            {% if product.available %}
              {{ product.selected_or_first_available_variant.price | money_without_trailing_zeros }}
            {% else %}
              Sold Out
            {% endif %}
          </div>
        </div>
      </a>
    </div>
  </div>
{% endif %}
