{% doc %}

  Variant Picker Option
  ------------------------------------------------------------------------------

  @param {object} option - The option to display
  @param {string} [selection_type] - The type of selection to display

  @example
    {% render 'variant-picker-option', option: option, selection_type: 'select' %}
{% enddoc %}

{%- liquid
  assign option_name_handle = option.name | handle
  assign option_parent_id = 'vpo-' | append: option_name_handle | append: '-' | append: product.id
  assign swatch_count = option.values | map: 'swatch' | compact | size
  assign is_radio = false

  if selection_type == 'radio'
    assign is_radio = true
  endif
-%}

{% capture option_values_content %}
  {% if is_radio %}
    <div class="flex flex-wrap gap-4">
      {%- for value in option.values -%}
        {%- liquid
          assign input_id = option_parent_id | append: forloop.index0
        -%}
      
        <div class="composable-input">
          <input
            type="radio"
            id="{{ input_id }}"
            name="{{ option.name | escape }}"
            value="{{ value | escape }}"
            aria-label="{{ value | escape }}"
            {% if value.selected %}
              checked
            {% endif %}
            {% if value.available != true %}
              disabled
              aria-disabled="true"
            {% endif %}
          >

          <label for="{{ input_id }}">
            {% if swatch_count > 0 and value.swatch %}
              {% comment %} This probably needs a tool tip or something? {% endcomment %}
              {% render 'swatch', option_value: value, swatch: value.swatch, variant_image: value.variant.featured_media, use_variant_image: false %}
            {% else %}
              {% comment %} This will need interactive styling similar to _swatches.scss {% endcomment %}
              <span class="inline-block py-2 px-4 border border-black rounded leading-none cursor-pointer">
                {{- value -}}
              </span>
            {% endif %}
          </label>
        </div>
      {%- endfor -%}
    </div>
  {% else %}
    <div class="form-control">
      <select
        id="{{ option_parent_id }}"
        name="{{ option.name | escape }}"
      >
        {%- for value in option.values -%}
          <option
            value="{{ value | escape }}"
            {% if value.selected %}
              selected="selected"
            {% endif %}
            {% if value.available != true %}
              disabled
            {% endif %}                  
          >
            {{ value }}
          </option>
        {%- endfor -%}
      </select>
    </div>
  {% endif %}
{% endcapture %}

{% capture option_label_content %}
  {{- option.name -}}:
{% endcapture %}

<div
  data-component="variant-picker-option"
  data-name="{{ option.name }}"
>
  {% comment %} Radio options require a fieldset since they use a list of inputs, each with their own label {% endcomment %}
  {% if is_radio %}
    <fieldset>
      <legend style="font-weight: bold">
        {{ option_label_content }}
      </legend>

      {{ option_values_content }}
    </fieldset>
  {% else %}
    <div>
      <label for="{{ option_parent_id }}" style="font-weight: bold">
        {{ option_label_content }}
      </label>

      {{ option_values_content }}
    </div>
  {% endif %}
</div>