{% # theme-check-disable RemoteAsset %}

<!doctype html>
<html class="no-js" lang="{{ request.locale.iso_code }}">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width,initial-scale=1">

    <link rel="canonical" href="{{ canonical_url }}">
    <link rel="preconnect" href="https://cdn.shopify.com" crossorigin>
    <link rel="preconnect" href="https://monorail-edge.shopifysvc.com">   {% comment %} @TODO - Remove this, I think? {% endcomment %}
    
    {% render 'head-favicon' %}
    {% render 'head-meta-title' %}
    {% render 'head-meta-tags' %}
    {% render 'head-font-face' %}
    
    {{ 'app.bundle.css' | asset_url | stylesheet_tag }}

    {% render 'head-scripts' %}

    {{ content_for_header }}   
  </head>

  {% capture body_class %}
    template-{{ template.name | handle }}
    {% if template.suffix != blank %} template-{{ template.name | append: '-' | append: template.suffix | handle }} {% endif %}
  {% endcapture %}

  {%- liquid
    assign view = template.name | handle

    comment
      Whitelist the views for templates with suffixes here
    endcomment
    if template.suffix != blank
      if template.name == 'blog'
        assign view = view | append: '-' | append: template.suffix
      endif
    endif

    comment
      Make sure views are labeled using strings, not numbers
    endcomment
    if view == '404'
      assign view = 'error'
    endif

    assign view = view | handle
  %}

  <body id="{{ page_title | handle }}" class="{{ body_class | strip | strip_newlines }}">
    {% comment %} @TODO - Rename these classes to use tailwind sr-only {% endcomment %}
    <a class="visually-hidden skip-link" href="#view-container">
      {{ 'general.accessibility.skip_to_content' | t }}
    </a>

    {% section 'header' %}
    {% section 'mobile-menu' %}

    <div class="layout">
      <main id="view-container" class="view-container" role="main" data-taxi>
        <div data-taxi-view="{{ view }}">
          {{ content_for_layout }}
        </div>
      </main>

      {% section 'footer' %}
    </div>

    {% section 'ajax-cart' %}

    {% if settings.developer_hide_preview_bar == true %}
      <style>
        html {
          padding-bottom: 0 !important; /* Shopify admin bar messes this up */
        }

        #preview-bar-iframe,
        #admin-bar-iframe,
        .shopify-preview-bar {
          display: none;
        }
      </style>
    {% endif %}    
  </body>
</html>