<div data-section-id="{{ section.id }}" data-section-type="ajax-cart">
  <div
    id="ajax-cart"
    class="ajax-cart overflow-scroll no-scrollbar"
    data-component="ajax-cart"
    aria-hidden="true"
    role="dialog"
    aria-labelledby="{{ section.id }}-title"
    inert   
  >
    <h3 id="{{ section.id }}-title" class="sr-only">Cart</h3>

    <form action="{{ routes.cart_url }}" method="post" novalidate>
      <div class="ajax-cart__header">
        <button data-ajax-cart-close type="button">Close</button>
      </div>

      {% render 'cart-body' %}
      
      {% render 'cart-footer',
                 checkout_button_text: section.settings.checkout_button_text,
                 checkout_message: section.settings.checkout_message
      %}        
    </form> 

    <div class="ajax-cart__empty">
      <div class="ajax-cart__empty-text">
        {{ section.settings.empty_text | default: 'Your cart is empty' }}
      </div>
    </div>    
  </div>

  <script type="application/json" data-cart-json>
    {% render 'cart-json' %}
  </script>  
</div>

{% schema %}
{
  "name": "Ajax Cart",
  "settings": [
    {
      "id": "checkout_button_text",
      "type": "text",
      "label": "Checkout Button Text",
      "default": "Proceed To Checkout"
    },
    {
      "id": "checkout_message",
      "type": "text",
      "label": "Checkout Message",
      "info": "e.g. 'Taxes will be calculated at checkout'"
    },
    {
      "id": "empty_text",
      "type": "textarea",
      "label": "Empty Cart Text",
      "default": "Looks like you have some shopping to do."
    }
  ]
}
{% endschema %}
