<footer
  class="footer"
  data-section-id="{{ section.id }}"
  data-section-type="footer"
>
  <div class="container">
    <div class="grid lg:grid-cols-2 gap-y-8 lg:gap-y-20 gap-x-(--grid-column-gap)">
      {% comment %} Newsletter {% endcomment %}
      <div>
        <h3>
          {{ section.settings.newsletter_title | default: 'Newsletter Signup' }}
        </h3>

        {% if section.settings.newsletter_message != blank %}
          <div class="form-group">
            {{ section.settings.newsletter_message }}
          </div>
        {% endif %}

        {% render 'newsletter-form',
                  id_prefix: section.id,
                  success_message: section.settings.newsletter_success_message
                  source: 'footer'
        %}
      </div>

      {% comment %} Socials {% endcomment %}
      <div>
        <h3>
          {{ section.settings.socials_title }}
        </h3>
        
        {%- if section.settings.socials_menu != blank -%}
          <div class="footer-menu">
            <ul>
              {%- for link in section.settings.socials_menu.links -%}
                <li>
                  <a href="{{ link.url }}">
                    {{ link.title }}
                  </a>
                </li>
              {%- endfor -%}              
            </ul>
          </div>
        {%- endif -%}
      </div>
    
      {% comment %} Menus {% endcomment %}       
      <div class="lg:col-span-2">
        <div
          class="grid grid-cols-2 gap-y-10 gap-x-5 lg:grid-cols-(--menu-cols)"
          style="--menu-cols: repeat({{ section.blocks.size }}, minmax(0, 1fr));"
        >
          {% for block in section.blocks %}
            {% assign menu_title_id = 'menu-title-' | append: block.id %}

            <div class="footer-menu" {{ block.shopify_attributes }}>
              <div
                id="{{ menu_title_id }}"
                class="mb-4 xl:mb-2 font-bold"
              >
                {{ block.settings.title }}
              </div>

              {%- if block.settings.menu != blank -%}
                <nav aria-labelledby="{{ menu_title_id }}">
                  <ul>
                    {%- for link in block.settings.menu.links -%}
                      <li>
                        <a
                          href="{{ link.url }}"
                          {% if link.current %}
                            aria-current="page"
                          {% endif %}
                        >
                          {{ link.title }}
                        </a>
                      </li>
                    {%- endfor -%}              
                  </ul>
                </nav>
              {%- endif -%}
            </div>
          {% endfor %}
        </div>
      </div>
      
      {% if section.settings.copyright_text != blank %}
        {%- liquid
          assign current_year = 'now' | date: '%Y' 
          assign shop_name = shop.name
        %}

        <div class="lg:col-start-2 text-center lg:text-left">
          {{ section.settings.copyright_text | replace: '$year', current_year | replace: '$shop', shop_name }}
        </div>
      {% endif %}
    </div>
  </div>
</footer>

{% schema %}
{
  "name": "Footer",
  "max_blocks": 4,
  "settings": [
    {
      "type": "header",
      "content": "Newsletter",
      "info": "Klaviyo list ID must be set in the general theme settings."
    },
    {
      "type": "text",
      "id": "newsletter_title",
      "label": "Title",
      "default": "Newsletter Signup"
    },
    {
      "type": "inline_richtext",
      "id": "newsletter_message",
      "label": "Message"
    },
    {
      "type": "textarea",
      "id": "newsletter_success_message",
      "label": "Success Message",
      "info": "Displays when someone signs up successfully"
    },
    {
      "type": "header",
      "content": "Socials"
    },
    {
      "type": "text",
      "id": "socials_title",
      "label": "Title",
      "default": "Follow Us"
    },
    {
      "type": "link_list",
      "id": "socials_menu",
      "label": "Menu"
    },
    {
      "type": "header",
      "content": "Menus",
      "info": "Menus are controlled using blocks."
    },
    {
      "type": "header",
      "content": "Copyright"
    },
    {
      "type": "textarea",
      "id": "copyright_text",
      "label": "Copyright Text",
      "info": "Use $year to include the current year.  Use $shop to include the shop name."
    }
  ],
  "blocks": [
    {
      "type": "menu",
      "name": "Menu",
      "settings": [
        {
          "type": "text",
          "id": "title",
          "label": "Title"
        },
        {
          "type": "link_list",
          "id": "menu",
          "label": "Menu"
        }
      ]
    }
  ]
}
{% endschema %}