<header
  class="header"
  data-section-id="{{ section.id }}"
  data-section-type="header"
  role="banner"
>
  <a href="/" itemprop="url" title="{{ shop.name }}" class="header-logo">
    Logo Goes Here
    <span class="visually-hidden">{{ shop.name }} logo</span>
  </a> 

  <div class="container">
    <div class="header-main">
      <div class="header-nav">
        <nav class="header-nav__list" aria-label="Main" data-primary-nav>
          <ul>
            <li>
              <button
                class="header-nav__item"
                aria-label="Open Menu"
                data-mobile-menu-toggle
              >
                Menu
              </button>
            </li>

            {% for link in linklists[section.settings.primary_menu].links %}
              <li>
                <a
                  href="{{ link.url }}"
                  class="header-nav__item"
                  {% if link.current %}
                    aria-current="page"
                  {% endif %}                  
                >
                  {{ link.title }}
                </a>
              </li>
            {% endfor %}
          </ul>
        </nav>  
      </div>
    
      <div class="header-nav header-nav--right">
        <div class="header-nav__list">
          <a
            href="{{ routes.cart_url }}"
            class="header-nav__item {% if cart.item_count > 0 %} has-items{% endif %}"
            data-taxi-ignore
            data-ajax-cart-toggle
            data-component="header-cart-control"
          >
            Cart <span class="header-cart-count" data-count>{{ cart.item_count }}</span>
          </a>
        
          <a
            href="{{ routes.search_url }}"
            class="header-nav__item"
          >
            {% render 'svg-icon-search' %}
            <span class="visually-hidden">Search icon</span>
          </a>
        </div>  
      </div>
    </div>
  </div>
</header>

{% schema %}
{
  "name": "Header",
  "settings": [
    {
      "type": "link_list",
      "id": "primary_menu",
      "label": "Primary Menu" 
    }
  ]
}
{% endschema %}