<header
  class="header"
  data-section-id="{{ section.id }}"
  data-section-type="header"
  role="banner"
>
  <a href="{{ routes.root_url }}" title="{{ shop.name }}" class="header-logo">
    Logo Goes Here
    <span class="sr-only">{{ shop.name }} logo</span>
  </a> 

  <div class="container">
    <div class="header-main">
      <div class="header-nav">
        <nav class="header-nav__list" aria-label="Main" data-primary-nav>
          <ul>
            <li>
              <button
                class="header-nav__item"
                aria-label="Open Menu"
                data-mobile-menu-toggle
              >
                Menu
              </button>
            </li>

            {% for link in linklists[section.settings.primary_menu].links %}
              <li>
                <a
                  href="{{ link.url }}"
                  class="header-nav__item"
                  {% if link.current %}
                    aria-current="page"
                  {% endif %}                  
                >
                  {{ link.title }}
                </a>
              </li>
            {% endfor %}
          </ul>
        </nav>  
      </div>
    
      <div class="header-nav header-nav--right">
        <div class="header-nav__list">
          <a
            href="{{ routes.cart_url }}"
            class="header-nav__item {% if cart.item_count > 0 %} has-items{% endif %}"
            data-taxi-ignore
            data-ajax-cart-toggle
            data-component="header-cart-control"
          >
            Cart <span class="header-cart-count" data-count>{{ cart.item_count }}</span>
          </a>
        
          <a
            href="{{ routes.search_url }}"
            class="header-nav__item"
          >
            {{- 'icon-search.svg' | inline_asset_content -}}
            <span class="sr-only">Search icon</span>
          </a>
        </div>  
      </div>
    </div>
  </div>
</header>

{% comment %}
  Borrowed from Dawn
  Not sure why they put it in the header but I'm copying them...
{% endcomment %}
<script type="application/ld+json">
  {
    "@context": "http://schema.org",
    "@type": "Organization",
    "name": {{ shop.name | json }},
    {% if shop.brand.logo %}
      "logo": {{ shop.brand.logo | image_url: width: 500 | prepend: "https:" | json }},
    {% endif %}
    "sameAs": [
      {{ settings.social_link_twitter   | json }},
      {{ settings.social_link_facebook  | json }},
      {{ settings.social_link_youtube   | json }},
      {{ settings.social_link_tiktok    | json }},
      {{ settings.social_link_instagram | json }}
    ],
    "url": {{ request.origin | append: page.url | json }}
  }
</script>

{% schema %}
{
  "name": "Header",
  "settings": [
    {
      "type": "link_list",
      "id": "primary_menu",
      "label": "Primary Menu" 
    }
  ]
}
{% endschema %}