{% comment %} // reset_success is only true when the reset form is {% endcomment %}
<section
  data-section-id="{{ section.id }}"
  data-section-type="login"
  {% if reset_success %}
    data-reset-success="true"
  {% endif %}
>
  <div class="container">
    <div class="page-header">
      <h1 class="page-header__title">
        Log In / Create Account
      </h1>
    </div>

    <div class="mx-auto" style="max-width: 560px;">
      <div style="display: flex; flex-direction: column; gap: 60px">
        {% if section.settings.new_message != blank %}
          <div>
            <h4 class="headline-4" style="margin-bottom: 0.5rem;">New Customers</h4>
            <p>
              {{ section.settings.new_message }}
            </p>
            <p>
              <a href="{{ routes.account_register_url }}" class="btn">Create Account</a>
            </p>
          </div>
        {% endif %}

        <div id="customer-login-form">
          <h4 class="headline-4" style="margin-bottom: 0.5rem;">Registered Customers</h4>
          <div>
            {% if section.settings.registered_message != blank %}
              <p>{{ section.settings.registered_message }}</p>
            {% endif %}

            {% form 'customer_login' %}
              {{ form.errors | default_errors }}
              
              <fieldset class="form-group{% if form.errors contains "email" %} has-error{% endif %}">
                <label for="customer-email" class="label-hidden">Email</label>
                <input type="email" name="customer[email]" id="customer-email" class="form-control" placeholder="Email" autocorrect="off" autocapitalize="off" autofocus>
              </fieldset>
      
              {% if form.password_needed %}
                <fieldset class="form-group{% if form.errors contains "password" %} has-error{% endif %}">
                  <label for="customer-password" class="label-hidden">Password</label>
                  <input type="password" value="" name="customer[password]" id="customer-password" class="form-control" placeholder="Password">
                </fieldset>
              {% endif %}
      
              <div class="form-group" style="display: flex; justify-content: space-between; align-items: center">
                <button type="submit" class="btn">Login</button>
                <div style="padding: 0 11px;">
                  <a href="#" data-show-recover>
                    Forgot your password?
                  </a>
                </div>
              </div>
            {% endform %}          
          </div>
        </div>

        {% comment %}
          If accounts are set as optional, the following will be shown as an option
          during checkout, not on the default /login page.
        {% endcomment %}
        {% if shop.checkout.guest_login %}
          <div>
            {% form 'guest_login' %}
              <div>
                <button type="submit" class="btn btn--block" value="Continue">
                  Continue Checkout As Guest
                </button>
              </div>
            {% endform %}
          </div>
        {% endif %}      

        <div id="recover-password-form" style="display: none;">
          <h4 class="headline-4" style="margin-bottom: 0.5rem;">
            Reset Your Password
          </h4>

          <p>We'll send you an email to reset your password</p>

          {% form 'recover_customer_password' %}

            {{ form.errors | default_errors }}

            {% comment %}
              form.posted_successfully? is true only inside this form, but we want
              to show a success message outside of it. To do so, set the variable
              reset_success to true, then use JS to show our success message above.
            {% endcomment %}
            {% if form.posted_successfully? %}
              {% assign reset_success = true %}
            {% endif %}

            <fieldset class="form-group">
              <label for="recover-email" class="label-hidden">Email</label>
              <input type="email" value="" name="email" id="recover-email" class="form-control" placeholder="Email" autocorrect="off" autocapitalize="off">
            </fieldset>

            <div class="form-group" style="display: flex; justify-content: space-between; align-items: center">
              <button type="submit" class="btn">Submit</button>
              <div style="padding: 0 11px;">
                <a href="#" data-hide-recover>Cancel</a>
              </div>
            </div>          
          {% endform %}
        </div>
      </div>
    </div>
  </div>
</section>

<div class="spacer"></div>

{% schema %}
{
  "name": "Account - Login",
  "settings": [
    {
      "type": "inline_richtext",
      "id": "new_message",
      "label": "New Customers Message"
    },
    {
      "type": "inline_richtext",
      "id": "registered_message",
      "label": "Registered Customers Message"
    }
  ]
}
{% endschema %}