{% assign error_id = 'PasswordLoginForm-password-error' %}

<div class="container">
  {% render 'section-header',
      title: 'Log In with password',
      title_tag: 'h1'
  %}

  {%- form 'storefront_password' -%}
    {%- capture message_text -%}
      {{ section.settings.password_message | strip_html | strip_newlines | strip }}
    {%- endcapture -%}

    {% if message_text != blank %}
      {{ section.settings.password_message }}
    {% endif %}

    <div class="form-group">
      <label for="PasswordInput">Email</label>
      <div class="form-control">
        <input
          type="password"
          name="password"
          id="PasswordInput"
          autocomplete="current-password"
          {% if form.errors %}
            aria-invalid="true"
            aria-describedby="{{ error_id }}"
          {%- endif -%}
          placeholder="{{ section.settings.password_input_placeholder | default: 'Enter Password' }}"
        >
      </div>
      {%- if form.errors -%}
        <div id="{{ error_id }}" class="form-group__error" role="status">
          {{ section.settings.password_incorrect_message | default: 'Password incorrect.  Please try again.' }}
        </div>
      {%- endif -%}         
    </div>

    <div class="form-group">
      <button type="submit" class="btn">Submit</button>
    </div>     
  {%- endform -%}
</div>

{% schema %}
{
  "name": "Password",
  "settings": [
    {
      "type": "richtext",
      "id": "password_message",
      "label": "Message",
      "info": "Displays above the password input",
      "default": "<p></p>"
    },
    {
      "type": "text",
      "id": "password_input_placeholder",
      "label": "Input Placeholder Text"
    },
    {
      "type": "textarea",
      "id": "password_incorrect_message",
      "label": "Incorrect Message",
      "info": "Displays when someone submits the wrong password"
    }
  ]
}
{% endschema %}