<section>
  <div class="container">
    <div class="page-header">
      <h1 class="page-header__title">
        My Account
      </h1>
      <div class="page-header__subtitle">
        <a href="/account/logout">Log Out</a>
      </div>
    </div>

    <div class="account-main">
      <div style="flex:1">
        <h3>Order History</h3>
        {% paginate customer.orders by 20 %}
          <table class="table table--account">
            <thead>
              <tr>
                <th>Order</th>
                <th>Date</th>
                <th>Payment Status</th>
                <th>Fulfillment Status</th>
                <th>Total</th>
              </tr>
            </thead>
            <tbody>
              {% for order in customer.orders %}
                <tr>
                  <td>
                    <a href="{{ order.customer_url }}" style="padding: 5px 7px; background-color: var(--color-lighter-gray);">
                      {{ order.name }}
                    </a>
                  </td>
                  <td>{{ order.created_at | date: "%B %d, %Y" }}</td>
                  <td>{{ order.financial_status_label }}</td>
                  <td>{{ order.fulfillment_status_label }}</td>
                  <td>{{ order.total_price | money }}</td>
                </tr>
              {% endfor %}
            </tbody>
          </table>
      
          {% if paginate.pages > 1 %}
            <div class="text-center">
              {{ paginate | default_pagination }}
            </div>
          {% endif %}
      
          {% if customer.orders.size == 0 %}
            <p class="text-center text-muted" style="margin-top: var(--spacing-30);">No Orders Found</p>
          {% endif %}
        {% endpaginate %}
      </div>
      <div>
        <div>
          <h3>Account Details</h3>
        
          <p class="type-fine">Name</p>
          <p>{{ customer.name }}</p>
        
          {% if customer.default_address != nil %}
            <br />
            <p class="type-fine">Shipping Address</p>
            <address class="text-muted">
              {% comment %} Line 1 {% endcomment %}
              {{ customer.default_address.address1 }}
        
              {% if customer.default_address.address2 != "" %}
                {{ customer.default_address.address2 }}
              {% endif %}
              <br />
        
              {% comment %} Line 2 {% endcomment %}
              {% if customer.default_address.city != "" %}
                {{ customer.default_address.city }}
              {% endif %}
        
              {% if customer.default_address.province_code != "" %}
                {{ customer.default_address.province_code | upcase }}
              {% endif %}
        
              {% if customer.default_address.zip != "" %}
                {{ customer.default_address.zip | upcase }}
              {% endif %}
        
              {% if customer.default_address.city != "" or customer.default_address.province_code != "" or customer.default_address.zip != "" %}
                <br />
              {% endif %}
        
              {% comment %} Line 3 {% endcomment %}
              {% if customer.default_address.country != "" %}
                {{ customer.default_address.country }}
                <br />
              {% endif %}
        
              {% comment %} Line 4 {% endcomment %}
              {% if customer.default_address.phone != "" %}
                {{ customer.default_address.phone }}
              {% endif %}
            </address>
            <br />
            <p>
              <a href="/account/addresses" class="btn btn--primary">View Addresses ({{ customer.addresses_count }})</a>
            </p>
        
          {% else %}
        
            <p>You haven't entered an address yet</p>
            <p>
              <a href="/account/addresses" class="btn btn--primary">Add Address</a>
            </p>        
        
          {% endif %}
        </div>      
      </div>
    </div>
  </div>
</section>

<div class="spacer"></div>