<div
  data-section-id="{{ section.id }}"
  data-section-type="mobile-menu"
>
  <div
    id="mobile-menu"
    class="mobile-menu overflow-scroll hide-scrollbar"
    data-component="mobile-menu"
    aria-hidden="true"
    role="dialog"
  >
    <div class="mobile-menu__body">
      <button
        data-mobile-menu-toggle
        aria-label="Close Menu"
        aria-controls="mobile-menu"
        aria-expanded="false"      
      >Close</button>

      {%- if section.settings.primary_menu != blank -%}
        {%- for link in section.settings.primary_menu.links -%}
          {% if link.links.size > 0 %}
            <div>
              <div>{{ link.title }}</div>
              
              <div class="mm-sublist">
                {% for sublink in link.links %}
                  <div class="mm-sublist__item">
                    <a href="{{ sublink.url }}" class="mm-sublist__item-inner">
                      {{ sublink.title }}
                    </a>
                  </div>
                {% endfor %}
              </div>
            </div>
          {% else %}
            <a href="{{ link.url }}">
              {{ link.title }}
            </a>       
          {% endif %}
        {%- endfor -%}  
      {%- endif -%}


      <div class="w-full max-w-[260px] my-16">
        {%- liquid
          assign id = section.id | append: '-search'

          render 'search-inline', id: id
        -%}
      </div>


      {%- if section.settings.secondary_menu != blank -%}
        <ul class="mobile-menu__secondary-menu">
          {%- for link in section.settings.secondary_menu.links -%}
            <li>
              <a href="{{ link.url }}">
                {{ link.title }}
              </a>
            </li>
          {%- endfor -%}              
        </ul>
      {%- endif -%}
    </div>
  </div>    
</div>
  
{% schema %}
{
  "name": "Mobile Menu",
  "settings": [
    {
      "type": "link_list",
      "id": "primary_menu",
      "label": "Primary Menu"
    },
    {
      "type": "link_list",
      "id": "secondary_menu",
      "label": "Secondary Menu"
    }
  ]
}
{% endschema %}