<div
  class="mobile-menu"
  data-section-id="{{ section.id }}"
  data-section-type="mobile-menu"
>
  <div class="mobile-menu__body">
    <a href="#" data-mobile-menu-toggle data-taxi-ignore>Close</a>

    {%- if section.settings.primary_menu != blank -%}
      {%- for link in section.settings.primary_menu.links -%}
        {%- assign link_id = section.id | append: '-link-' | append: forloop.index %}

        {% if link.links.size > 0 %}
          <div>
            <div>{{ link.title }}</div>
            <div class="mm-sublist">
              {% for sublink in link.links %}
                <div class="mm-sublist__item">
                  <a href="{{ sublink.url }}" class="mm-sublist__item-inner">
                    {{ sublink.title }}
                  </a>
                </div>
              {% endfor %}
            </div>
          </div>
        {% else %}
          <a href="{{ link.url }}">
            {{ link.title }}
          </a>       
        {% endif %}
      {%- endfor -%}  
    {%- endif -%}


    <div style="width: 100%; max-width: 260px; margin: 50px 0;">
      <form action="{{ routes.search_url }}" method="get" role="search" data-search-form>
        <div class="minimal-input has-icon-btn">
          <label for="mobile-menu-search" class="label-hidden">Enter search query</label>
          <input
            id="mobile-menu-search"
            type="search"
            name="q"
            placeholder="Search"
            class="form-control"
          />
          <button class="minimal-input__icon-btn" aria-label="search">
            {% render 'svg-icon-search' %}
          </button>
        </div>
      </form>
    </div>


    {%- if section.settings.secondary_menu != blank -%}
      <ul class="mobile-menu__secondary-menu">
        {%- for link in section.settings.secondary_menu.links -%}
          <li>
            <a href="{{ link.url }}">
              {{ link.title }}
            </a>
          </li>
        {%- endfor -%}              
      </ul>
    {%- endif -%}
  </div>
</div>
  
{% schema %}
{
  "name": "Mobile Menu",
  "settings": [
    {
      "type": "link_list",
      "id": "primary_menu",
      "label": "Primary Menu"
    },
    {
      "type": "link_list",
      "id": "secondary_menu",
      "label": "Secondary Menu"
    }
  ]
}
{% endschema %}