{% assign limit = 6 %}

{%- if recommendations.performed? -%}
  <div data-content>
    {%- liquid
      if recommendations.products_count > 0
        for product in recommendations.products limit: limit
          echo '<div class="product-card-set__grid-item">'
            render 'product-card', product: product
          echo '</div>'
        endfor
      endif
    %}
  </div>
{%- else -%}   
  <section
    data-section-id="{{ section.id }}"
    data-section-type="product-related"
    data-url="{{ routes.product_recommendations_url }}?section_id={{ section.id }}&product_id={{ product.id }}&limit={{ limit }}&intent=related"
  >
    {% if section.settings.title != blank %}
      <div class="container">        
        <h3 class="product-related__title">
          {{ section.settings.title }}
        </h3>
      </div>
    {% endif %}

    <div class="product-card-set">
      <div class="product-card-set__grid" data-content-target>
        <!-- Cards go here... -->
      </div>     
    </div>
  </section>
{%- endif -%}

{% schema %}
{
  "name": "Product - Related",
  "settings": [
    {
      "type": "text",
      "id": "title",
      "label": "Title"
    }
  ]
}
{% endschema %}